This notebook was prepared by Cayetano Benavent, 2016.

# Pandas 01

Importing library (convention):

In [1]:
import pandas as pd

## Data structures in Pandas

### Series: 1 Dimension data

In [3]:
import numpy as np
dt = np.random.random(20)

In [4]:
dt

array([ 0.34882491,  0.40815936,  0.37846343,  0.07374071,  0.57645901,
        0.73252434,  0.25812427,  0.90573503,  0.20462665,  0.86907253,
        0.80300727,  0.80050171,  0.77619599,  0.08859435,  0.15722074,
        0.34332281,  0.66705256,  0.21204897,  0.14318771,  0.57384648])

In [5]:
pd.Series(dt)

0     0.348825
1     0.408159
2     0.378463
3     0.073741
4     0.576459
5     0.732524
6     0.258124
7     0.905735
8     0.204627
9     0.869073
10    0.803007
11    0.800502
12    0.776196
13    0.088594
14    0.157221
15    0.343323
16    0.667053
17    0.212049
18    0.143188
19    0.573846
dtype: float64

Indexing:

In [22]:
import string
abc = string.ascii_lowercase[:20]
idx = list(abc)

In [23]:
idx

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't']

In [24]:
len(idx)

20

In [25]:
pd.Series(dt, index=idx)

a    0.348825
b    0.408159
c    0.378463
d    0.073741
e    0.576459
f    0.732524
g    0.258124
h    0.905735
i    0.204627
j    0.869073
k    0.803007
l    0.800502
m    0.776196
n    0.088594
o    0.157221
p    0.343323
q    0.667053
r    0.212049
s    0.143188
t    0.573846
dtype: float64

A Python dict can be converted to a Serie:

In [27]:
mydict = {'t01': 345, 't02': 212, 't03': 453, 't04': 769, 't05':762, 't06': 911}

In [28]:
pd.Series(mydict)

t01    345
t02    212
t03    453
t04    769
t05    762
t06    911
dtype: int64

### Data Frame: 2 Dimensions data

In [56]:
mydict2 = {'t01': 35, 't02': 2, 't03': 32, 't04': 71, 't05':82, 't06': 21}

In [57]:
df_dt = {'d01': pd.Series(mydict), 
      'd02': pd.Series(mydict2)}

In [58]:
df = pd.DataFrame(df_dt)

In [59]:
df

     d01  d02
t01  345   35
t02  212    2
t03  453   32
t04  769   71
t05  762   82
t06  911   21

### Panel: 3 Dimensions data

In [70]:
df2 = {'l01': pd.Series(np.random.random(6), index=['t01','t02','t03','t04','t05','t06']), 
      'l02': pd.Series(np.random.random(6), index=['t01','t02','t03','t04','t05','t06'])}

In [71]:
dt_pn = {'p01': df, 'p02': df2}

In [72]:
pn = pd.Panel(dt_pn)

In [73]:
pn

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 6 (major_axis) x 4 (minor_axis)
Items axis: p01 to p02
Major_axis axis: t01 to t06
Minor_axis axis: d01 to l02

In [74]:
pn['p02']

     d01  d02       l01       l02
t01  NaN  NaN  0.872596  0.279537
t02  NaN  NaN  0.081171  0.926469
t03  NaN  NaN  0.339822  0.353231
t04  NaN  NaN  0.960054  0.335430
t05  NaN  NaN  0.337112  0.922273
t06  NaN  NaN  0.755057  0.743222